@font-face {
    font-family: "tahu";
    src: url("/font/Tahu!.ttf");
}

@font-face {
    font-family: "briquete";
    src: url("/font/Briquete-Regular.otf");
}

@font-face {
    font-family: "poppins-bold";
    src: url("/font/Poppins-Bold.ttf");
}

@font-face {
    font-family: "poppins-medium";
    src: url("/font/Poppins-Medium.ttf");
}

.body {
    background-color: #FDF6F0;
}

.navbar {
    background-color: bisque;
}

.nav-link {
    font-weight: bold;
}

.navbar .navbar-brand {
    font-family: 'tahu';
    font-size: 50px;
    margin-left: 5% !important;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.3rem;
    }

    .harga {
        height: 50vh;
    }
}

.carousel {
    width: 100%;
    margin: 3vh auto 6vh;
    max-height: 50vh;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 3px 5px #888888;
}

.container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.judul,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poppins-bold";
    font-weight: bold;
}

p {
    font-family: "poppins-medium";
}

.fdetail {
    color: #888888;
    font-size: calc(10px+1vw);
}

#content img {
    width: 10vw;
}

.text {
    margin-top: 10%;
}

#content .btn {
    background-color: #F8E2CF;
    width: 25vh;
    border-radius: 10px;
    border: 1px #f5C6AA solid;
    margin-bottom: 2vh;
}

#content .btn:hover {
    border: 1px burlywood solid;
    background-color: #F5C6AA;
    color: #333333;
}

.row p {
    margin-bottom: 5vh;
}

.harga {
    border: solid 1px black;
    min-height: 43vh;
    border-radius: 15px;
    margin-bottom: 2vh;
}

.harga .jenis-harga {
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid black;
    padding: 2vw 2vw 1vh;
}

.harga #jh1 {
    background-color: #FCD8D4;
}

.harga #jh2 {
    background-color: #f8e2cf;
}

.harga #jh3 {
    background-color: #f9f1cb;
}

.harga ul {
    list-style-type: none;
    padding: 2vh 2vh 2vh;
}

#tabelharga {
    margin-bottom: 5vh;
}

#content ul {
    list-style-type: none;
}

#content2 {
    box-shadow: 1px 1px 8px #888888;
    margin: auto;
    margin-bottom: 1vh;
    border-radius: 15px;
    background-color: bisque;
    align-items: center;
}

#content2 img {
    width: 5vw;
}

#content2 #kontak {
    font-size: 2vh;
    text-align: center;
    padding-top: 10%;
    background-color: bisque;
}

.footer {
    background-color: black;
}

@media (max-width: 600px) {
    .harga {
        min-height: 37vh;
    }

    #content img {
        min-width: 30vw;
    }

    #content2 {
        max-width: 70vw;
        padding: 5% 10%;
    }

    .img {
        padding-left: 20vw;
    }


    #content2 img {
        min-width: 15vw;
    }
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.dropdown-menu {
    background-color: bisque;
    font-family: 'poppins-medium';
    border: 2px solid grey;
}
