@font-face {
    font-family: "briquete";
    src: url("/font/Briquete-Regular.otf");
}

@font-face {
    font-family: "Poppins-bold";
    src: url("/font/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("/font/Poppins-Medium.ttf");
}

body {
    overflow-x: hidden;
    background-color: #FFFDEB;
}

.modal-content {
    background-repeat: no-repeat;
    background-color: rgba(221, 179, 115, 255);
}

@media screen and (min-width: 500px) {
    .modal-dialog {
        min-width: 60vw;
    }

    .modal-header {
        font-size: calc(8px + 1vw);
    }

    .modal-header h6 {
        font-size: calc(10px + 1vw);
    }

    .modal-header h4 {
        font-size: calc(20px + 1vw);
    }

}

@media screen and (max-width: 500px) {
    .modal-body .barcode {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 5%;
    }

    .modal-body .barcode img {
        width: 100%;
    }

    .modal-dialog {
        padding: 2%;
    }

    .modal-body .data .data-tamu {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        font-size: calc(10px + 1vw);
        width: 100%;
    }

    .modal-header {
        font-size: calc(12px + 1vw);
    }

    .modal-header h6 {
        font-size: calc(10px + 2vw);
        margin-top: 5vw;
    }

    .modal-header h4 {
        margin-top: 2%;
        font-size: calc(20px + 1vh);
        margin-bottom: 2%;
    }
}

.modal-body .data {
    box-sizing: border-box;
    padding: 5%;
}

.modal-body .barcode img {
    width: 80%;
}

.data-tamu {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size: calc(5px + 1vw);
}

.modal-header h4 {
    font-family: "briquete";
}

.fotoawal {
    width: 100%;
    min-height: 30vh;
    max-height: 100vh;
    overflow: hidden;
    padding: 0%;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0 60%, #FFFDEB 99.9% 100%);
}

.fotoawal img {
    width: 100%;
    height: auto;
    display: block;
    z-index: -1;
    position: absolute;
}

.client {
    display: flex;
    align-items: center;
    padding-top: 32%;
    padding-bottom: 8%;
    flex-direction: column;
    font-size: calc(12px + 1.5vw);
    color: aliceblue;
}

.client h1 {
    font-size: calc(16px + 3vw);
    font-family: "briquete";
    margin-bottom: 3%;
}

.client p {
    font-size: calc(4px + 1vw);
}

.salam {
    padding: 5%;
    text-align: center;

}

.salam .ucapan {
    padding: 3%;
}

.salam .pembuka {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1px + 2vw);
    margin-bottom: 2vw;
}

.salam .nama-pengantin {
    font-weight: bold;
    font-family: "briquete";
    font-size: calc(12px + 3vw);
}

.salam .love {
    font-size: 5vw;
    width: 8vw;
    border-radius: 100%;
    background-color: blanchedalmond;
    color: pink;
    display: inline-table;
    margin: 5% auto 5%;
}

.salam p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(6px + 1vw);
}


.salam .dan {
    font-size: 7vw;
    font-weight: bold;
}

.infoacara {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.isi-gl {
    box-sizing: border-box;
    background-color: #DDB373;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-width: 45%;
    min-height: 30vh;
    align-items: center;
    padding: 0;
    text-align: center;
}

.isi-gl .detailacara {
    flex-wrap: wrap;
    flex-flow: column;
    padding-top: 2%;
    color: white;
}

.detailacara .judul {
    font-weight: bold;
    font-size: calc(10px + 3vw);
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Poppins-bold";
}

.detailacara p {
    font-size: calc(5px + 2vw);
    font-family: "Poppins-medium"
}

.isi-gl .galeri {
    width: 100%;
    min-width: 30vw;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .infoacara {
        display: flex;
        justify-content: space-between;
        padding: 2%;
        margin-left: 2%;
    }

    .isi-gl {
        width: 100%;
        margin: 2%;
    }
}

.mapresepsi {
    text-align: center;
    padding: 5%;
}

.bungkusmap {
    background-color: white;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2% 5% 3%;
    border-radius: 10px;
    font-family: "Poppins-medium";
}

.covermap {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.covermap iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
}

.timer {
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: calc(12px + 3vw);
    font-weight: bold;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5%;
    font-family: "Poppins-medium";
}

#demo {
    font-weight: bold;
    font-family: 'Poppins-bold';
}

.rsvp {
    background-color: white;
    padding: 5%;
    margin: 5%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.rsvp-detail {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1vw);
    padding: 2%;
}

.rsvp {
    text-align: center;
}

.rsvp .form-group {
    margin-bottom: 2%;
    text-align: left;
    padding: 0% 5% 0%;
}

.form-control {
    border-radius: 10px;
}

.buku-tamu {
    background-color: white;
    padding: 5%;
    margin: 5%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.buku-tamu form {
    text-align: left;
}

.kolomkomen {
    display: flex;
    overflow: hidden;
    padding: 2% 2%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.komen {
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FFFDEB;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    text-align: start;
    padding: 7%;
}

@media (max-width: 500px) {
    .komen {
        width: 90%;
        padding: 5%;
    }
}

.footer {
    background-color: #DDB373;
    margin-top: 3%;
    padding: 2%;
    display: flex;
    /* flex-wrap: wrap; */
    overflow: hidden;
}

.footer .row {
    justify-content: space-between;
    padding: 2%;
}

.logo {
    min-width: 20vw;
    padding: 2%;
    align-self: center;
}

.logo img {
    width: 50%;
    transform: translateX(50%);
}

.kontak {
    text-align: center;
    font-size: calc(10px + 2vw);
    font-family: 'Roboto', sans-serif;
}

#bold {
    font-family: "Poppins-bold";
}
